<div>
  <form #myform="ngForm" (ngSubmit)="myform.valid && onSubmit(myform)" novalidate>

    <h2>Default Angular Validators</h2>
    <div class="form-group">
      <label for="required">Required</label>
      <input type="text" name="required" id="required" #required="ngModel" class="form-control" ngModel required placeholder="Enter required data">
      <nfv-validation-errors [control]="required"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="minLength">Min Length</label>
      <input type="text" name="minLength" id="minLength" #minLength="ngModel" class="form-control" ngModel required minlength="3"
        placeholder="This field should have specified min length (3)">
      <nfv-validation-errors [control]="minLength"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="maxLength">Max Length</label>
      <input type="text" name="maxLength" id="maxLength" #maxLength="ngModel" class="form-control" ngModel required maxlength="3"
        placeholder="This field should have specified max length (3)">
      <nfv-validation-errors [control]="maxLength"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="pattern">Pattern</label>
      <input type="text" name="pattern" id="pattern" #pattern="ngModel" class="form-control" ngModel required pattern="[0-9]%"
        placeholder="This field should match pattern : [0-9]%">
      <nfv-validation-errors [control]="pattern"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" #email="ngModel" class="form-control" ngModel required email placeholder="This field should be an email">
      <nfv-validation-errors [control]="email"></nfv-validation-errors>
    </div>

    <h2>Validator.js Angular Validators</h2>
    <div class="form-group">
      <label for="afterValidator">Future Date Validator</label>
      <input type="text" name="afterValidator" id="afterValidator" #afterValidator="ngModel" class="form-control" ngModel required
        nfvAfterValidator placeholder="This field should be a date (YYYY-MM-DD) in the future">
      <nfv-validation-errors [control]="afterValidator"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="afterValidator2">After Date Validator</label>
      <input type="text" name="afterValidator2" id="afterValidator2" #afterValidator2="ngModel" class="form-control" ngModel required
        nfvAfterValidator="2018-06-26" placeholder="This field should be a date after the specified date 2018-06-26">
      <nfv-validation-errors [control]="afterValidator2"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="alphaValidator">Alpha Validator</label>
      <input type="text" name="alphaValidator" id="alphaValidator" #alphaValidator="ngModel" class="form-control" ngModel required
        nfvAlphaValidator placeholder="This field should contain only letters (a-zA-Z).">
      <nfv-validation-errors [control]="alphaValidator"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="alphaValidator2">Alpha Validator French Local</label>
      <input type="text" name="alphaValidator2" id="alphaValidator2" #alphaValidator2="ngModel" class="form-control" ngModel required
        nfvAlphaValidator="fr-FR" placeholder="This field should contain only letters (a-zA-Z) + french letters é,è,à ...">
      <nfv-validation-errors [control]="alphaValidator2"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="alphanumericValidator">Alphanumeric Validator</label>
      <input type="text" name="alphanumericValidator" id="alphanumericValidator" #alphanumericValidator="ngModel" class="form-control"
        ngModel required nfvAlphanumericValidator placeholder="This field should contain only letters and numbers">
      <nfv-validation-errors [control]="alphanumericValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="asciiValidator">ASCII Validator</label>
      <input type="text" name="asciiValidator" id="asciiValidator" #asciiValidator="ngModel" class="form-control" ngModel required
        nfvAsciiValidator placeholder="This field should contain ASCII chars only.">
      <nfv-validation-errors [control]="asciiValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="base64Validator">base64 Validator</label>
      <input type="text" name="base64Validator" id="base64Validator" #base64Validator="ngModel" class="form-control" ngModel required
        nfvBase64Validator placeholder="This field should be base64 encoded.">
      <nfv-validation-errors [control]="base64Validator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="beforeValidator">Past Date Validator</label>
      <input type="text" name="beforeValidator" id="beforeValidator" #beforeValidator="ngModel" class="form-control" ngModel required
        nfvBeforeValidator placeholder="This field should be a date (YYYY-MM-DD) in the past.">
      <nfv-validation-errors [control]="beforeValidator"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="beforeValidator2">Before Date Validator</label>
      <input type="text" name="beforeValidator2" id="beforeValidator2" #beforeValidator2="ngModel" class="form-control" ngModel
        required nfvBeforeValidator="2018-06-26" placeholder="This field should be a date that's before the specified date 2018-06-26.">
      <nfv-validation-errors [control]="beforeValidator2"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="booleanValidator">Boolean Validator</label>
      <input type="text" name="booleanValidator" id="booleanValidator" #booleanValidator="ngModel" class="form-control" ngModel
        required nfvBooleanValidator placeholder="This field should be a boolean.">
      <nfv-validation-errors [control]="booleanValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="byteLengthValidator">Byte Length Validator</label>
      <input type="text" name="byteLengthValidator" id="byteLengthValidator" #byteLengthValidator="ngModel" class="form-control"
        ngModel required nfvByteLengthValidator='{"min":"2", "max": "5"}' placeholder="This field's length (in UTF-8 bytes) should fall in a range [2,5].">
      <nfv-validation-errors [control]="byteLengthValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="creditCardValidator">Credit Card Validator</label>
      <input type="creditCardValidator" name="creditCardValidator" id="creditCardValidator" #creditCardValidator="ngModel" class="form-control"
        ngModel required nfvCreditCardValidator placeholder="This field should be a credit card number.">
      <nfv-validation-errors [control]="creditCardValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="currencyValidator">Currency Validator</label>
      <input type="currencyValidator" name="currencyValidator" id="currencyValidator" #currencyValidator="ngModel" class="form-control"
        ngModel required nfvCurrencyValidator placeholder="This field should be a valid currency amount (default $NNN).">
      <nfv-validation-errors [control]="currencyValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="currencyValidator2">Custom Currency Validator (EUR)</label>
      <input type="text" name="currencyValidator2" id="currencyValidator2" #currencyValidator2="ngModel" class="form-control" ngModel
        required nfvCurrencyValidator='{"symbol":"€","symbol_after_digits": true}' placeholder="This field should be a valid currency amount (NNN€).">
      <nfv-validation-errors [control]="currencyValidator2"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="dataURIValidator">Data URI Validator</label>
      <input type="text" name="dataURIValidator" id="dataURIValidator" #dataURIValidator="ngModel" class="form-control" ngModel
        required nfvDataURIValidator placeholder="This field should be a data uri format.">
      <nfv-validation-errors [control]="dataURIValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="decimalValidator">Decimal Validator</label>
      <input type="text" name="decimalValidator" id="decimalValidator" #decimalValidator="ngModel" class="form-control" ngModel
        required nfvDecimalValidator placeholder="This field should be a decimal number">
      <nfv-validation-errors [control]="decimalValidator"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="decimalValidator2">Custom Decimal Validator</label>
      <input type="text" name="decimalValidator2" id="decimalValidator2" #decimalValidator2="ngModel" class="form-control" ngModel
        required nfvDecimalValidator='{"force_decimal": false, "decimal_digits": "1,2"}' placeholder="This field should be a decimal number NNN.DD">
      <nfv-validation-errors [control]="decimalValidator2"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="divisibleByValidator">Divisible By Validator</label>
      <input type="text" name="divisibleByValidator" id="divisibleByValidator" #divisibleByValidator="ngModel" class="form-control"
        ngModel required nfvDivisibleByValidator="2" placeholder="This field should be a number that's divisible by the specified number : 2">
      <nfv-validation-errors [control]="divisibleByValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="emailAndGmailValidator">Email And Gmail Validator</label>
      <input type="emailAndGmailValidator" name="emailAndGmailValidator" id="emailAndGmailValidator" #emailAndGmailValidator="ngModel"
        class="form-text" ngModel required nfvEmailAndGmailValidator placeholder="This field should be valid email address.">
      <nfv-validation-errors [control]="emailAndGmailValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="emptyValidator">Empty Validator</label>
      <input type="text" name="emptyValidator" id="emptyValidator" #emptyValidator="ngModel" class="form-control" ngModel required
        nfvEmptyValidator placeholder="This field should has a length of zero.">
      <nfv-validation-errors [control]="emptyValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="FQDNValidator">FQDN Validator</label>
      <input type="text" name="FQDNValidator" id="FQDNValidator" #FQDNValidator="ngModel" class="form-control" ngModel required
        nfvFQDNValidator placeholder="This field should be a fully qualified domain name (e.g. domain.com).">
      <nfv-validation-errors [control]="FQDNValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="floatValidator">Float Validator</label>
      <input type="text" name="floatValidator" id="floatValidator" #floatValidator="ngModel" class="form-control" ngModel required
        nfvFloatValidator placeholder="This field should be a float.">
      <nfv-validation-errors [control]="floatValidator"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="floatValidator2">Float Min Max Validator</label>
      <input type="text" name="floatValidator2" id="floatValidator2" #floatValidator2="ngModel" class="form-control" ngModel required
        nfvFloatValidator='{ "min": 7.22, "max": 9.55 }' placeholder="This field should be a float between 7.22 and 9.55.">
      <nfv-validation-errors [control]="floatValidator2"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="fullWidthValidator">Full Width Validator</label>
      <input type="text" name="fullWidthValidator" id="fullWidthValidator" #fullWidthValidator="ngModel" class="form-control" ngModel
        required nfvFullWidthValidator placeholder="This field should contain any full-width chars.">
      <nfv-validation-errors [control]="fullWidthValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="halfWidthValidator">Half Width Validator</label>
      <input type="text" name="halfWidthValidator" id="halfWidthValidator" #halfWidthValidator="ngModel" class="form-control" ngModel
        required nfvHalfWidthValidator placeholder="This field should contain any half-width chars.">
      <nfv-validation-errors [control]="halfWidthValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="hashValidator">Hash Validator</label>
      <input type="text" name="hashValidator" id="hashValidator" #hashValidator="ngModel" class="form-control" ngModel required
        nfvHashValidator="sha256" placeholder="This field should be a hash of type algorithm (default = sha256).">
      <nfv-validation-errors [control]="hashValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="hexColorValidator">Hex Color Validator</label>
      <input type="text" name="hexColorValidator" id="hexColorValidator" #hexColorValidator="ngModel" class="form-control" ngModel
        required nfvHexColorValidator placeholder="This field should be a hexadecimal color.">
      <nfv-validation-errors [control]="hexColorValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="hexadecimalValidator">Hexadecimal Validator</label>
      <input type="text" name="hexadecimalValidator" id="hexadecimalValidator" #hexadecimalValidator="ngModel" class="form-control"
        ngModel required nfvHexadecimalValidator placeholder="This field should be a hexadecimal number.">
      <nfv-validation-errors [control]="hexadecimalValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="IPValidator">IP Validator</label>
      <input type="text" name="IPValidator" id="IPValidator" #IPValidator="ngModel" class="form-control" ngModel required nfvIPValidator
        placeholder="This field should be an IP address">
      <nfv-validation-errors [control]="IPValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="ISBNValidator">ISBN Validator</label>
      <input type="text" name="ISBNValidator" id="ISBNValidator" #ISBNValidator="ngModel" class="form-control" ngModel required
        nfvISBNValidator placeholder="This field should be an ISBN.">
      <nfv-validation-errors [control]="ISBNValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="ISSNValidator">ISSN Validator</label>
      <input type="text" name="ISSNValidator" id="ISSNValidator" #ISSNValidator="ngModel" class="form-control" ngModel required
        nfvISSNValidator placeholder="This field should be an ISSN.">
      <nfv-validation-errors [control]="ISSNValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="ISINValidator">ISIN Validator</label>
      <input type="text" name="ISINValidator" id="ISINValidator" #ISINValidator="ngModel" class="form-control" ngModel required
        nfvISINValidator placeholder="This field should be an ISIN (stock/security identifier).">
      <nfv-validation-errors [control]="ISINValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="ISO8601Validator">Date ISO8601 Validator</label>
      <input type="text" name="ISO8601Validator" id="ISO8601Validator" #ISO8601Validator="ngModel" class="form-control" ngModel
        required nfvISO8601Validator placeholder="This field should be a valid ISO 8601 date (ex: 2018-06-26 ).">
      <nfv-validation-errors [control]="ISO8601Validator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="ISO31661Alpha2Validator">ISO31661 Alpha2 Validator</label>
      <input type="text" name="ISO31661Alpha2Validator" id="ISO31661Alpha2Validator" #ISO31661Alpha2Validator="ngModel" class="form-control"
        ngModel required nfvISO31661Alpha2Validator placeholder="This field should be a valid ISO 3166-1 alpha-2 officially assigned country code.">
      <nfv-validation-errors [control]="ISO31661Alpha2Validator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="ISRCValidator">ISRC Validator</label>
      <input type="text" name="ISRCValidator" id="ISRCValidator" #ISRCValidator="ngModel" class="form-control" ngModel required
        nfvISRCValidator placeholder="This field should be a ISRC.">
      <nfv-validation-errors [control]="ISRCValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="inValidator">In Validator</label>
      <input type="text" name="inValidator" id="inValidator" #inValidator="ngModel" class="form-control" ngModel required nfvInValidator='["one", "two"]'
        placeholder="This field should be in a array of allowed values ['one', 'two'].">
      <nfv-validation-errors [control]="inValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="intValidator">Int Validator</label>
      <input type="text" name="intValidator" id="intValidator" #intValidator="ngModel" class="form-control" ngModel required nfvIntValidator
        placeholder="This field should be an integer.">
      <nfv-validation-errors [control]="intValidator"></nfv-validation-errors>
    </div>
    <div class="form-group">
      <label for="intValidator2">Int Min Max Validator</label>
      <input type="text" name="intValidator2" id="intValidator2" #intValidator2="ngModel" class="form-control" ngModel required
        nfvIntValidator='{ "min": 3, "max": 9}' placeholder="This field should be an integer in the range [3,9].">
      <nfv-validation-errors [control]="intValidator2"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="JSONValidator">JSON Validator</label>
      <input type="text" name="JSONValidator" id="JSONValidator" #JSONValidator="ngModel" class="form-control" ngModel required
        nfvJSONValidator placeholder="This field should be valid JSON.">
      <nfv-validation-errors [control]="JSONValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="latLongValidator">Lat Long Validator</label>
      <input type="text" name="latLongValidator" id="latLongValidator" #latLongValidator="ngModel" class="form-control" ngModel
        required nfvLatLongValidator placeholder="This field should be a valid latitude-longitude coordinate in the format lat,long or lat, long.">
      <nfv-validation-errors [control]="latLongValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="lengthValidator">Length Validator</label>
      <input type="lengthValidator" name="lengthValidator" id="lengthValidator" #lengthValidator="ngModel" class="form-control"
        ngModel required nfvLengthValidator='{ "min": 3, "max": 5}' placeholder="This field's length should fall in a character number range [3,5].">
      <nfv-validation-errors [control]="lengthValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="lowercaseValidator">Lowercase Validator</label>
      <input type="text" name="lowercaseValidator" id="lowercaseValidator" #lowercaseValidator="ngModel" class="form-control" ngModel
        required nfvLowercaseValidator placeholder="This field should be lowercase.">
      <nfv-validation-errors [control]="lowercaseValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="MACAddressValidator">MAC Address Validator</label>
      <input type="text" name="MACAddressValidator" id="MACAddressValidator" #MACAddressValidator="ngModel" class="form-control"
        ngModel required nfvMACAddressValidator placeholder="This field should be a MAC address.">
      <nfv-validation-errors [control]="MACAddressValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="MD5Validator">MD5 Validator</label>
      <input type="text" name="MD5Validator" id="MD5Validator" #MD5Validator="ngModel" class="form-control" ngModel required nfvMD5Validator
        placeholder="This field should be a MD5 hash.">
      <nfv-validation-errors [control]="MD5Validator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="mimeTypeValidator">Mime Type Validator</label>
      <input type="text" name="mimeTypeValidator" id="mimeTypeValidator" #mimeTypeValidator="ngModel" class="form-control" ngModel
        required nfvMimeTypeValidator placeholder="This field should matches to a valid MIME type format.">
      <nfv-validation-errors [control]="mimeTypeValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="mongoIdValidator">Mongo Id Validator</label>
      <input type="mongoIdValidator" name="mongoIdValidator" id="mongoIdValidator" #mongoIdValidator="ngModel" class="form-control"
        ngModel required nfvMongoIdValidator placeholder="This field should be a valid hex-encoded representation of a MongoDB ObjectId.">
      <nfv-validation-errors [control]="mongoIdValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="multibyteValidator">Multibyte Validator</label>
      <input type="multibyteValidator" name="multibyteValidator" id="multibyteValidator" #multibyteValidator="ngModel" class="form-control"
        ngModel required nfvMultibyteValidator placeholder="This field should contain one or more multibyte chars.">
      <nfv-validation-errors [control]="multibyteValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="numericValidator">Numeric Validator</label>
      <input type="text" name="numericValidator" id="numericValidator" #numericValidator="ngModel" class="form-control" ngModel
        required nfvNumericValidator placeholder="This field should contain only numbers.">
      <nfv-validation-errors [control]="numericValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="portValidator">Port Validator</label>
      <input type="text" name="portValidator" id="portValidator" #portValidator="ngModel" class="form-control" ngModel required
        nfvPortValidator placeholder="This field should be a valid port number.">
      <nfv-validation-errors [control]="portValidator"></nfv-validation-errors>
    </div>




    <div class="form-group">
      <label for="postalCodeValidator">Postal Code Validator</label>
      <input type="text" name="postalCodeValidator" id="postalCodeValidator" #postalCodeValidator="ngModel" class="form-control"
        ngModel required nfvPostalCodeValidator placeholder="This field should be a postal code.">
      <nfv-validation-errors [control]="postalCodeValidator"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="postalCodeValidator2">Custom Postal Code Validator (US)</label>
      <input type="text" name="postalCodeValidator2" id="postalCodeValidator2" #postalCodeValidator2="ngModel" class="form-control"
        ngModel required nfvPostalCodeValidator="US" placeholder="This field should be an US postal code.">
      <nfv-validation-errors [control]="postalCodeValidator2"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="surrogatePairValidator">Surrogate Pair Validator</label>
      <input type="text" name="surrogatePairValidator" id="surrogatePairValidator" #surrogatePairValidator="ngModel" class="form-control"
        ngModel required nfvSurrogatePairValidator placeholder="This field should contain any surrogate pairs chars.">
      <nfv-validation-errors [control]="surrogatePairValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="URLValidator">URL Validator</label>
      <input type="text" name="URLValidator" id="URLValidator" #URLValidator="ngModel" class="form-control" ngModel required nfvURLValidator
        placeholder="This field should be an URL.">
      <nfv-validation-errors [control]="URLValidator"></nfv-validation-errors>
    </div>

    <div class="form-group">
      <label for="URLValidator2">Custom URL Validator (protocol : ftp)</label>
      <input type="text" name="URLValidator2" id="URLValidator2" #URLValidator2="ngModel" class="form-control" ngModel required
        nfvURLValidator='{"protocols":["ftp"]}' placeholder="This field should be an URL.">
      <nfv-validation-errors [control]="URLValidator2"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="UUIDValidator">UUID Validator</label>
      <input type="text" name="UUIDValidator" id="UUIDValidator" #UUIDValidator="ngModel" class="form-control" ngModel required
        nfvUUIDValidator placeholder="This field should be a UUID.">
      <nfv-validation-errors [control]="UUIDValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="uppercaseValidator">Uppercase Validator</label>
      <input type="uppercaseValidator" name="uppercaseValidator" id="uppercaseValidator" #uppercaseValidator="ngModel" class="form-control"
        ngModel required nfvUppercaseValidator placeholder="This field should be uppercase.">
      <nfv-validation-errors [control]="uppercaseValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="variableWidthValidator">Variable Width Validator</label>
      <input type="variableWidthValidator" name="variableWidthValidator" id="variableWidthValidator" #variableWidthValidator="ngModel"
        class="form-control" ngModel required nfvVariableWidthValidator placeholder="This field should contain a mixture of full and half-width chars.">
      <nfv-validation-errors [control]="variableWidthValidator"></nfv-validation-errors>
    </div>


    <div class="form-group">
      <label for="whitelistedValidator">Whitelisted Validator</label>
      <input type="text" name="whitelistedValidator" id="whitelistedValidator" #whitelistedValidator="ngModel" class="form-control"
        ngModel required nfvWhitelistedValidator="aiouey" placeholder="This field should have characters that appear in the whitelist ( aiouey ).">
      <nfv-validation-errors [control]="whitelistedValidator"></nfv-validation-errors>
    </div>



    <button type="submit" [disabled]="!myform.valid" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-sm btn-danger">
      <i class="fa fa-ban"></i> Reset</button>

  </form>
</div>
